<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcommunity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.smartcommunity.neighcenter.NeighCenter"
            android:label="@string/title_activity_neigh_center" >
        </activity>
        <activity
            android:name="com.example.smartcommunity.payment.PaymentCenter"
            android:label="@string/title_activity_payment_center" >
        </activity>
        <activity
            android:name="com.example.smartcommunity.payment.ChinaMobilePage"
            android:label="@string/title_activity_china_mobile_page" >
        </activity>
        <activity
            android:name="com.example.smartcommunity.payment.ChinaUnicomPage"
            android:label="@string/title_activity_china_unicom_page" >
        </activity>
        <activity
            android:name="com.example.smartcommunity.payment.ChinaTelecomPage"
            android:label="@string/title_activity_china_telecom" >
        </activity>
    </application>

</manifest>
